<!-- 
<button pButton pRipple type="button" label="Secondary" class="p-button-rounded p-button-secondary"></button>
<button pButton pRipple type="button" label="Success" class="p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" label="Info" class="p-button-rounded p-button-info"></button>
<button pButton pRipple type="button" label="Warning" class="p-button-rounded p-button-warning"></button>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
<button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info"></button>
<button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning"></button>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="card">
  
  <button type="button" pButton pRipple (click)="showSuccess()" label="Success" class="p-button-success p-mb-2"></button>
  <button type="button" pButton pRipple (click)="showWarn()" label="Warn" class="p-button-warning p-mb-2"></button>
  <button type="button" pButton pRipple (click)="showError()" label="Error" class="p-button-danger p-mb-2"></button>
  <button type="button" pButton pRipple (click)="showConfirm()" label="Confirm" class="ui-button-warning"></button>
</div>
<form (ngSubmit)="save()">
<button type="submit" >SENF</button>

</form>
-->

 <!-- Page Wrapper -->
 <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">
              Smart Drive
            </div>
        </a>
  
   
  
        <!-- Divider -->
        <hr class="sidebar-divider">
      
        <!-- Heading -->
        <div class="sidebar-heading" *ngIf="isAuth" >
            Menu
        </div>
        <li class="nav-item"  *ngIf="isAuth">
            <a class="nav-link collapsed" routerLink="/conducterlist" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>conducteur</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Options:</h6>
                    
                </div>
            </div>
        </li>
        <li class="nav-item" *ngIf="isAuth">
            <a class="nav-link" >
                <i class="fas fa-fw fa-tachometer-alt" [routerLink]="['/dashboard']"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item " *ngIf="isAuth">
            <a class="nav-link" >
                <i class="fas fa-fw fa-folder" [routerLink]="['/listvoitur']"></i>
                <span>voiture</span>
            </a>
            
            <li class="nav-item" *ngIf="isAuth" >
            <a class="nav-link">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <button class="btn btn-primary"  [routerLink]="['/login']" type="submit" (click)="onSignOut()">
                <span>Sign out</span></button>
            </a>
        </li>
        <!-- Nav Item - Pages Collapse Menu -->
      
    
  
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
  
                <!-- Topbar Search -->
                <h1> Bienvenu !</h1>
  
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
  
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Search for..." aria-label="Search"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
  
                    <!-- Nav Item - Alerts -->
                
                    <!-- <button *ngIf="isAuth" class="btn btn-primary"  [routerLink]="['/login ']" type="submit" (click)="onSignOut()">Sign out</button> --> 
                  

                    <button *ngIf="isAuth"  [routerLink]="['/login']" pButton pRipple type="submit" label="Sign Out"  (click)="onSignOut()" class="p-button-rounded p-button-info"></button>

                    <!-- Nav Item - Messages -->
                  
  
                  
  
                    <!-- Nav Item - User Information -->
                  
  
                </ul>
  
            </nav>
            <!-- End of Topbar -->
  
            <!-- Begin Page Content -->
            <div class="container-fluid">
  
                <router-outlet></router-outlet>
  
            </div>
            <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
  
    </div>
    <!-- End of Content Wrapper -->
  
  </div>
  <!-- End of Page Wrapper -->
  
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
  </div>
  