<div class="card shadow mb-4">
    <div class="card-header py-3">
        <button class="btn btn-primary my-3" [routerLink]="['/conducterlist']">Back</button>
        <h6 class="m-0 font-weight-bold text-primary">Update conducter</h6>
    </div>
    <div class="card-body">
       <form [formGroup]="formGroup" (ngSubmit)="onSubmit1()" >
           <div class="form-group mb-3">
            <label for="Cin">Cin :</label>
            <input type="text" class="form-control" formControlName="CIn" name="Cin" value = "{{ data.Cin }}" [(ngModel)]="data.Cin">
           </div>
           <div class="form-group mb-3">
            <label for="nom">fullname :</label>
            <input type="text" class="form-control" formControlName="fullname" name="fullname" value = "{{ data.fullname }}" [(ngModel)]="data.fullname">
           </div>

          
        <div class="form-group mb-3">
            <label for="email">email :</label>
            <input type="text" class="form-control" formControlName="Email" name="email" value = "{{ data.email }}" [(ngModel)]="data.email">
        </div>
        <div class="form-group mb-3">
            <label for="phone">Phone :</label> 
            <input type="text" class="form-control" formControlName="pHone" name="phone" value = "{{ data.phone }}" [(ngModel)]="data.phone">
    
            </div>
        

 
           <div class="form-group">
                <button type="submit" class="btn btn-primary" >Update</button>
            </div>


            
       
       </form>
    </div>
</div>